<?xml version="1.0"?>
<configuration>
    <appSettings>
    </appSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <remove name="Default"/>
                <add name="AzureDiagnostics" type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
                    <filter type=""/>
                </add>
            </listeners>
        </trace>
        <sources>
            <!--[ SOURCES 
                  AcceleratorTraceSource    Primary source for Accelerator application startup tracing, including
                                            diagnostics, configuration, deployment, provisioning, configuration, 
                                            and start and stop process orchestration. 
            ]-->
            <source name="AcceleratorTraceSource" switchName="AcceleratorTracelLevel" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="AcceleratorTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="AcceleratorTraceListener.log"/> 
                </listeners>
            </source>
        </sources>
        <switches>
            <!--[ SWITCHES 
                  AcceleratorTraceLevel     Controls general Accelerator trace messages. Define this switch
                                            and set this switch value as follows to receive trace messages:
                  Value     0   Off         Off
                            1   Error       Error
                            2   Warning     Warnings
                            3   Info        Information, Warnings, and Errors
                            4   Verbose     Verbose, Information, Warnings and Errors                              
            ]-->
            <add name="AcceleratorTracelLevel" value="Verbose"/>
        </switches>
    </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
