<?xml version="1.0"?>
<configuration>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="DBServer" value="aa" />
    <add key="DBAdminUser" value="aa" />
    <add key="DBAdminPassword" value="aa" />
    <add key="DBName" value="dotnetnuke"/>
    <add key="DBUser" value="aa" />
    <add key="DBPassword" value="bb00RR$" />
    <add key="AzureStorageName" value=""/>
    <add key="AzureStorageKey" value=""/>
    <add key="AzureStorageHTTPS" value="true"/>
    <add key="AzureStoragePackageContainer" value="dotnetnuke-packages"/>
    <add key="Bindings" value="mycloudapp.cloudapp.net"/>
    <add key="UploadBlockSize" value="524288" />
    <add key="RDPEnabled" value="true"/>
    <add key="RDPUser" value="aaaaa" />
    <add key="RDPPassword" value="bb00RR$"/>
    <add key="VHDBlobBName" value="dotnetnuke.vhd" />
    <add key="VHDSizeInMb" value="1024" />
    <add key="ConnectEnabled" value="false"/>
    <add key="ConnectActivationToken" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="SQLAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="WindowsAzureEndPoint" address="https://management.core.windows.net" binding="webHttpBinding" bindingConfiguration="WindowsAzureServiceManagement_WebHttpBinding" contract="DotNetNuke.Azure.Accelerator.Management.IServiceManagement"/>
      <endpoint name="SQLAzureEndPoint" address="https://management.database.windows.net:8443" binding="webHttpBinding" bindingConfiguration="SQLAzureServiceManagement_WebHttpBinding" contract="DotNetNuke.Azure.Accelerator.Management.IDatabaseManagement"/>
    </client>
  </system.serviceModel>
</configuration>
