<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DNNAzureWizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="DBServer" value="" />
    <add key="DBAdminUser" value="" />
    <add key="DBAdminPassword" value="" />
    <add key="DBName" value="dnn"/>
    <add key="DBUser" value="" />
    <add key="DBPassword" value="" />
    <add key="AzureStorageName" value=""/>
    <add key="AzureStorageKey" value=""/>
    <add key="AzureStorageHTTPS" value="true"/>
    <add key="AzureStoragePackageContainer" value="dnn-packages"/>
    <add key="Bindings" value=""/>
    <add key="UploadBlockSize" value="524288" />
    <add key="RDPEnabled" value="true"/>
    <add key="RDPUser" value="" />
    <add key="RDPPassword" value=""/>
    <add key="ShareName" value="sharerw" />
    <add key="ConnectEnabled" value="false"/>
    <add key="ConnectActivationToken" value=""/>
    <add key="SSLEnabled" value="false"/>
    <add key="RemoteMgmtEnabled" value="true"/>
    <add key="WebDeployEnabled" value="false"/>
    <add key="FTPEnabled" value="false"/>
    <add key="DefaultPackageName" value="DNNAzureSingleAndSmall_2013Q3"/>
    <add key="InstallTimeout" value="2350"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WindowsAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="SQLAzureServiceManagement_WebHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxStringContentLength="1048576" maxBytesPerRead="131072"/>
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint name="WindowsAzureEndPoint" address="https://management.core.windows.net" binding="webHttpBinding" bindingConfiguration="WindowsAzureServiceManagement_WebHttpBinding" contract="DotNetNuke.Azure.Accelerator.Management.IServiceManagement"/>
      <endpoint name="SQLAzureEndPoint" address="https://management.database.windows.net:8443" binding="webHttpBinding" bindingConfiguration="SQLAzureServiceManagement_WebHttpBinding" contract="DotNetNuke.Azure.Accelerator.Management.IDatabaseManagement"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DNNAzureWizard.Properties.Settings>
      <setting name="DNNAzureWizard_DotNetNuke_UpdateService_UpdateService"
        serializeAs="String">
        <value>http://update.dotnetnuke.com/azurepackages.asmx</value>
      </setting>
    </DNNAzureWizard.Properties.Settings>
  </applicationSettings>
</configuration>
