<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--[ SETTINGS ]
        
            AccelCon attempts to load these authentication setting values from ServiceConfiguration.cscfg and 
            then from this App.config file (in that order and in the same folder as AccelCon.exe).
            
            AcceleratorConnectionString:
            
                Connectivity to Windows Azure storage services. Required for interaction with blob storage,
                including blob upload/download, cloud drives and directory synchronization.  These values can
                be obtained after provisioning a new 'Storage Service' in the http://windows.azure.com portal.
            
            DiagnosticsServiceBus:  
            
                Connectivity for real-time tracking and the debug console through the Windows Azure AppFabric 
                Service Bus.  (not required)  These values can be obtained after provisioning a new Service
                Bus endpoint in the http://windows.azure.con portal.  (Under the AppFabric option.)

            Diagnostics: 
            
                (not required)

        -->
        <add key="Diagnostics" value="ApplicationName=Umbraco;LogFilter=Verbose"/>
        <add key="DiagnosticsServiceBus" value="ServiceNamespace=enterservicebus;ServicePath=diag/umbraco;IssuerName=owner;IssuerSecret=enterissuersecret"/>
        <add key="AcceleratorConnectionString" value="UseDevelopmentStorage=true"/>
    </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
