<?xml version="1.0"?>
<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
    <system.webServer>
      <httpErrors errorMode="Detailed" />
      <defaultDocument>
          <files>
          </files>
    </defaultDocument>
  </system.webServer>
</configuration>
