<?xml version="1.0" encoding="UTF-8"?>
<!--
    Example of web config for the root of a PHP web site.
-->
<configuration>
    <system.web>
		<customErrors mode="Off"/>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
	<system.webServer>
	    <httpErrors errorMode="Detailed" />
		<defaultDocument>
			<files>
				<add value="index.php" />
			</files>
		</defaultDocument>
		<handlers>
			<add name="PHP FastCGI" verb="*" path="*.php" modules="FastCgiModule" scriptProcessor="%RoleRoot%\approot\php\php-cgi.exe" />
		</handlers>
	 </system.webServer>
</configuration>
